<!-- filepath: /c:/Users/Launchpad/Documents/vscodeProjects/BC-University-registration-/views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to the Home Page</h1>
</body>
</html>